# Bot
BOT_TOKEN=your_bot_token_here

# Database
DB_PATH=databases/SQLite.db

# Web
WEB_HOST=0.0.0.0
WEB_PORT=8000

# Logging
LOG_LEVEL=INFO
LOG_FILE=logs/app.log # <- если пустой, то логирование только в консоль